.error {
  width: 100vw;
  height: 100vh;
  background-image: url("/public/assets/images/img-crayon-02.gif");
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 36px;
  padding: 80px 0;
}

.box p {
  font-family: "Noto Serif KR", serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.8;
  background-image: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    navy,
    purple
  );
  -webkit-background-clip: text;
  color: transparent;
}

.image-group {
  position: relative;
}

.image-group img {
  width: 360px;
  transition: transform 150ms ease-in-out;
}

.image-group p {
  position: absolute;
  left: 50%;
  top: 70%;
  padding: 0 24px;
  white-space: nowrap;
  font-size: 48px;
  background-image: none;
  -webkit-background-clip: unset;
  transform: translateX(-50%);
  transition: all 150ms ease-in-out;
}

.image-group:hover img {
  transform: scale(1.5);
}

.image-group:hover p {
  color: #000;
  background-color: #fff;
}
